@import "bulma";

.formContainer {
  width: 500px;
  background: lightgrey;
  border: 2px solid black;
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px;
  padding-bottom: 60px;
}

.formContainer form {

}
.formContainer input {
  margin-top: 10px;
}

.formContainer button {
  float: right;
  margin-top: 15px;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 20px;
  background: RGBA(49, 98, 146, 1.00);
  color: white;
  font-weight: bold;
}
