@import "bulma";

.container {
  width: 500px;
  background: lightgrey;
  border: 2px solid black;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
}

.container input {
  margin-top: 10px;
}

.container span {
  float: right;
  margin-top: 15px;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 20px;
  background: RGBA(49, 98, 146, 1.00);
  color: white;
  font-weight: bold;
}
